.recipe__fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.recipe__img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe__title {
  margin-top: 1rem;
  text-align: center;
}

.recipe__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.recipe__info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.recipe__info-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.recipe__info-data {
  font-weight: bold;
  margin-right: 0.5rem;
}

.recipe__info-data--minutes {
  color: #6d6d6d;
}

.recipe__info-data--people {
  color: #333;
}

.recipe__info-buttons {
  display: flex;
  margin-top: 0.5rem;
}

.btn--tiny {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 0.2rem;
  padding: 0.5rem;
}

.btn--increase-servings svg {
  fill: #333;
}

.recipe__user-generated,
.btn--round {
  margin-top: 1rem;
}

.recipe__user-generated svg,
.btn--round svg {
  width: 24px;
  height: 24px;
}

.btn--round {
  background-color: #ff6f61;
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.recipe__ingredients {
  margin-bottom: 2rem;
}

.heading--2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.recipe__ingredient-list {
  list-style: none;
  padding: 0;
}

.recipe__ingredient {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.recipe__icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.recipe__quantity {
  font-weight: bold;
  margin-right: 0.5rem;
}

.recipe__description {
  display: flex;
  align-items: center;
}

.recipe__unit {
  font-style: italic;
}

.recipe__directions {
  margin-bottom: 2rem;
}

.recipe__directions-text {
  margin-bottom: 1rem;
}

.recipe__publisher {
  font-weight: bold;
}

.btn--small {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
}

.search__icon {
  width: 16px;
  height: 16px;
  margin-left: 0.5rem;
}

.btn--small:hover {
  background-color: #e65c50;
}
.full-container {
  padding: 10px;
}
